{% extends 'base.html.twig' %}

{% block title %}Dat koelsch Dreijestirn{% endblock %}

{% block body %}


    <div class="content-body">

        {# templates/image/index.html.twig #}
        <h1>Archive</h1>
        <div class="image-list" id="image-list">

                {% for image in images %}
                    <div class="image-card" data-src="{{ image.path }}">
                        <img src="{{ image.path }}" alt="{{ image.name }}" loading="lazy">
                        <div class="image-details">
                            <p id="name">@{{ image.owner }}</p>
                        </div>
                    </div>
                {% endfor %}
        </div>


        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

            {{ knp_pagination_render(images) }}




    </div>

    <script>

        var modal = document.getElementById("myModal");

        var images = document.querySelectorAll(".image-card img");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        images.forEach(function(image) {
            image.onclick = function() {
                // Get the image and insert it inside the modal - use its "alt" text as a caption

                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");


                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = image.parentElement.outerText;

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                    modal.style.display = "none";
                }
            };
        });


    </script>
{% endblock %}
